*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fls
*.cut
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk

.venv
thumbnails/
report.pdf
